*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    }

body {
    /* background: #fefae0; */
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* additional box around */
.container { 
    width: 600px;
    height: 600px;
    margin: auto;
    background: #432818;

    position: relative;
    margin:5% auto;
    box-shadow: 5px 5px 10px black;
    
}


/* creation of the board */
.chess-board{
    width: 500px;
    height: 500px;
    margin: 7% auto;
    border: 5px solid beige;

    position: absolute;
    left: 50px;
} 

.chess-board .row {
    width: 100%;
    height: 12.5%;
    /* border: 1px solid red; */
    display: flex;
}

.chess-board .row div {
    width: 12.5%;
    height: 100%;
    /* border: 1px solid black; */
}

/* coloring the boxes */
.chess-board .row:nth-of-type(odd) div:nth-of-type(odd) {
    background: #ffe6a7;
}

.chess-board .row:nth-of-type(odd) div:nth-of-type(even) {
    background: #99582a;
}

.chess-board .row:nth-of-type(even) div:nth-of-type(even) {
    background: #ffe6a7;
}

.chess-board .row:nth-of-type(even) div:nth-of-type(odd) {
    background: #99582a;
}

/* chess figures */
.chess-board .row div {
    text-align: center;
    font-size: 3rem;
}

.chess-board .row:nth-of-type(1) div i, .chess-board .row:nth-of-type(2) div i {
    color: beige;
    text-shadow: 3px 3px 5px black;
}

.chess-board .row:nth-of-type(7) div i, .chess-board .row:nth-of-type(8) div i {
    color: black;
    text-shadow: 3px 3px 5px beige;
}

/* hover effects */
.chess-board .row div:hover i{
    transform: scale(1.1);
}

/* white figures */
.chess-board .row:nth-of-type(1) div:hover i::after, .chess-board .row:nth-of-type(2) div:hover i::after, .chess-board .row:nth-of-type(7) div:hover i::after, .chess-board .row:nth-of-type(8) div:hover i::after {
    content: '';
    display: block;
    font-size: 1rem;
}

.chess-board .row:nth-of-type(1) div:hover i::after, .chess-board .row:nth-of-type(2) div:hover i::after {
    content: '';
    color: black;
    text-shadow: 2px 2px #6d6875;
}

.chess-board .row:nth-of-type(7) div:hover i::after, .chess-board .row:nth-of-type(8) div:hover i::after {
    content: '';
    color: #240046;
    text-shadow: 2px 2px white;
}

.chess-board .row:nth-of-type(2) div:hover .fa-chess-pawn::after, .chess-board .row:nth-of-type(7) div:hover .fa-chess-pawn::after {
    content: 'pawn';
}

.chess-board .row:nth-of-type(1) div:hover .fa-chess-rook::after, .chess-board .row:nth-of-type(8) div:hover .fa-chess-rook::after {
    content: 'rook';
}

.chess-board .row:nth-of-type(1) div:hover .fa-chess-knight::after, .chess-board .row:nth-of-type(8) div:hover .fa-chess-knight::after {
    content: 'knight';
}

.chess-board .row:nth-of-type(1) div:hover .fa-chess-bishop::after, .chess-board .row:nth-of-type(8) div:hover .fa-chess-bishop::after {
    content: 'bishop';
    display: block;
}

.chess-board .row:nth-of-type(1) div:hover .fa-chess-queen::after, .chess-board .row:nth-of-type(8) div:hover .fa-chess-queen::after {
    content: 'queen';
}

.chess-board .row:nth-of-type(1) div:hover .fa-chess-king::after, .chess-board .row:nth-of-type(8) div:hover .fa-chess-king::after {
    content: 'king';
}
